@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: auto;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color:$black;
	scroll-behavior: smooth;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

a, p, input, span, button, strong, small {
	font-family: 'Open Sans', sans-serif;
}

main {
	background-color: $light-blue;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 100%;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;
}


.buttonWrapper {
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

a {
	color: $blue;
	text-decoration-line: none;

	&:hover {
		cursor: pointer;
	}

}

/* Section Intro */
.sectionHeader {
	padding-left: $single;
    padding-right: $single;
	padding-top: $single;
}

.container > .sectionHeader h2 {
	font-weight: 700;
	font-size: 1.5rem;
    line-height: 2rem;
}

.sectionContent {
	padding: $single;

	strong {
		margin: $single auto;
	}
}

.mobile-only {
	display: block;
}

.desktop-only {
	display: none;
}

/* Contact-Page */
.contact-info-wrapper {
	padding: 0 $single $single $single;

	h2, p, a {
		padding-bottom: $single;
	}

	a {
		color: $blue;
	}

	.ml-half {
		margin-left: .5rem;
	}

}



/* DESKTOP STYLES */
@media (min-width: $container-desktop) {

	.layout {
		@include display-flex;
		@include flex-direction(row);
		justify-content: center;
		max-width: $container-desktop-xl;
		margin: auto;
	}

	html,
	body,
	#root {
		background-image: url('/images/Tausta.jpg');
	}

	main {
		max-width: 80%;
		overflow: hidden;
	}

	.mobile-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}

	.container {
		max-width: $container-desktop;
	}

	.ContactContainer {
		@include flex-direction(row);
	}
}