@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

.header {
	background: $header;
	@include display-flex;
	min-height: 80px;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 200; 
	
}

.logo {
	font-size: 24px;
	line-height: 3rem;
	color: $yellow;
	font-weight: 800;
}

.logoContainer {
	@include display-flex;
	justify-content: center;
	width: 100%;
}

.logoImage {
	height: 50px;
	width: 60px;
	margin-right: $single;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
	.header {
		position: relative;
		max-height: 999px;
		padding-top: $single;
		justify-content: center;
	}

	.logo {
		font-size: $double;
        line-height: 2.5rem;
		padding-left: 1.5rem;
		text-align: start;
	}

	.logoImage {
		margin-left: $single;
	}

	.logoContainer {
		justify-content: flex-start;
	}
}

/* Yuge Desktop Screens */
@media (min-width: 1536px) {
	.logo {
		text-align: center;
	}
}

