@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

.highlightSection {
    background-color: $white;
}

.highlightContent {
    @include display-flex;
    @include flex-direction(column);
    justify-content: center;
}

.highlightImageContainer {
    position: relative;
    overflow: hidden;
}

.highlightQuotation {
    @include display-flex;
    @include flex-direction(column);

    h2, h3 {
        text-align: center;
    }

    h3 {
        font-weight: 600;
    }
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {

    .highlightContent {
        @include flex-direction(row);
    }

    .highlightImageContainer {
        height: 500px;
    }

}