@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

.imageTextBlockImageContainer {
    width: 100%;
    height: 265px; 
    overflow: hidden;
    position: relative
}

.imageTextBlockContent {
    background-color: $white;
    @include display-flex;
    @include flex-direction(column);
}

.imageTextBlockDescriptionContainer p {
    padding: .5rem $single $single $single;
}

.imageTextBlock.odd {
    .imageTextBlockDescriptionContainer {
        background-color: $light-blue;
    }
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {

    .imageTextBlockSection:not(:first-of-type) {
        padding-top: $single;
        padding-bottom: $single;
    }

    .imageTextBlockContent {
        flex-wrap: wrap;
        @include flex-direction(row-reverse);
    }

    .imageTextBlock.odd {
        .imageTextBlockContent {
            @include flex-direction(row);
        }
    }

    .imageTextBlockImageContainer,
    .imageTextBlockDescriptionContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .imageTextBlockDescriptionContainer {
        padding: $double;
        @include display-flex;
		@include flex-direction(column);
        justify-content: center;

        h2 {
            font-size: 2.25rem;
        }

    }

    .imageTextBlockImageContainer {
        height: auto;
    }
}