@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

.sectionList {
    margin: $single;
    padding: $single;
    @include border(2px solid);
    border-color: $black;
    @include border-radius(.375rem);

    li {
        padding-top: .5rem;
        padding-bottom: .5rem;
        list-style-type: none;
        font-weight: 700;
    }

    .price {
        margin-left: .5rem;
        
        &::after {
            content: '\20AC';
        }
    }

}


/* DESKTOP STYLES */
@media (min-width: $container-desktop) {

    .sectionList {
        max-width: 50%;
        width: 100%;
    }

}