@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

// Markdown is wrapped in Article. 
// These styles are for Markdown content.
.markdownBody {
    article {
        padding: $single;
    
        p {
            margin-bottom: $single;
        }

        ul {
            padding-left: $single;
        }
    
        ul li,
        a {
            color: $blue;
        }
    
    }
}