@import "partials/mixins";
@import "partials/variables";
@import "partials/breakpoints";

#sidebar {
	display: none;
}

/* DESKTOP STYLES */
@media (min-width: $container-desktop) {
	
	#sidebar {
		@include display-flex;
		max-width: 20%;
		width: 100%;
		background-color: $primary;
		justify-content: center;
		align-items: flex-start;
	}

	.fixedNav {
		position: fixed;
	}

	.stickyUl {
		position: sticky;
	}

	.linkWrapper {
		padding-top: $single;
		padding-bottom: $single;
		list-style: none;
		border-bottom: 2px solid $white;
	}
	
	.link {
		color: $white;
		font-size: 22px;
		font-weight: 700;
	}
	
	.active {
		border-color: $yellow;
	
		.link {
			color: $yellow;
		}
	
	}
	
}